html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}
body::before {
  content: "";
  position: absolute; /* Usa absolute para que no siga el scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/patron_fondo.jpg");
  background-repeat: repeat; /* Repite la imagen */
  background-size: auto; /* Usa el tamaño original de la imagen */
  opacity: 0.1;
  z-index: -1;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; /* Asegura que el header esté por encima de la imagen */
  background-color: #01b1ab;
}

.brand-name {
  font-size: 28px; /* Cambia el tamaño del texto */
  font-weight: bold; /* Hace que el texto sea negrita */
  color: #ffffff; /* Cambia el color del texto */
  font-family: "Arial", sans-serif; /* Cambia la fuente del texto */
  letter-spacing: 1px; /* Espaciado entre letras */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  transition: color 0.3s ease; /* Añade una transición suave al color */
  text-shadow: 2px 5px 5px rgba(104, 104, 104, 0.2);
}

.brand-name:hover {
  color: #007f7a; /* Cambia el color del texto al pasar el mouse */
}

.custom-nav-link:hover {
  text-decoration-color: #d26f1f; /* Color del subrayado al pasar el cursor */
  color: #d26f1f; /* Color del texto al pasar el cursor */
}

/* Color por defecto de los enlaces */
.custom-nav-link {
  font-size: 28px; /* Ajusta el tamaño de la fuente */
  font-weight: bold; /* Hace el texto en negrita */
  font-family: "Arial", sans-serif;
  color: #ffffff; /* Color por defecto de los enlaces */
  text-shadow: 2px 5px 5px rgba(104, 104, 104, 0.2);
}

/* Personalización del color cuando el enlace tiene la clase 'active' */
.custom-nav-link.active {
  color: #d26f1f; /* Color del texto cuando el enlace está activo */
  text-decoration-color: #d26f1f; /* Color del subrayado cuando el enlace está activo */
}

/* Personalización del color cuando el enlace está en foco o al hacer clic */
.custom-nav-link:focus,
.custom-nav-link:active {
  color: #d26f1f; /* Cambia el color del texto cuando el enlace está en foco o se hace clic */
  text-decoration-color: #d26f1f; /* Color del subrayado cuando el enlace está en foco o se hace clic */
}

/* Estilo de los botones */
.custom-btn {
  border-radius: 25px; /* Border radius para los botones */
  font-size: 18px; /* Ajuste de tamaño de texto */
  font-weight: bold; /* Texto en negrita */
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Botón "Iniciar sesión" con fondo blanco y texto de color #01B1AB */
.btn-white {
  background-color: white;
  color: #01b1ab;
  border: 2px solid #ffffff; /* Borde con el mismo color del texto */
}

.btn-white:hover {
  background-color: #01b1ab; /* Fondo cambia a color #01B1AB al pasar el cursor */
  color: white; /* Texto blanco al pasar el cursor */
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Botón "Registrarse" con fondo #01B1AB y texto blanco */
.btn-primary {
  background-color: #01b1ab;
  color: white;
  border: 2px solid #01b1ab; /* Borde con el mismo color del fondo */
}

.btn-primary:hover {
  background-color: #029c97; /* Fondo cambia al pasar el cursor */
  border: 2px solid #029c97;
  color: white; /* Mantiene el texto blanco al pasar el cursor */
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.btn-white.custom-btn:active {
  background-color: #01b1ab !important;
  color: white !important;
  border-color: #01b1ab !important;
}

.btn-primary.custom-btn:active {
  background-color: #ffffff !important;
  color: #01b1ab !important;
  border-color: #ffffff !important;
}
/* ----- Sección Hero ----- */
.hero {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Centra el hero en la página */
}

/* Estilo específico para la pantalla 1 */
.hero-pantalla1 {
  background: url("img/banner_principal.jpg") no-repeat center center/cover;
}
/* Estilo específico para la pantalla 2 */
.hero-pantalla2 {
  background: url("img/banner2.jpg") no-repeat center center/cover;
}
/* Estilo específico para la pantalla 3 */
.hero-pantalla3 {
  background: url("img/banner3.jpg") no-repeat center center/cover;
}
/* Estilo específico para la pantalla 4 */
.hero-pantalla4 {
  background: url("img/banner4.jpg") no-repeat center center/cover;
  
}
/* Contenedor del texto dentro del Hero */
.hero-content {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
  z-index: 20;
}

/* Título principal */
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: 2px 5px 5px rgba(104, 104, 104, 0.2);
}

/* Subtítulo */
.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  text-shadow: 2px 5px 5px rgba(104, 104, 104, 0.2);
}

/* Botón principal del Hero */
.btn-hero {
  display: inline-block;
  padding: 15px 30px;
  background-color: #01b1ab; /* Ajusta el color según tu gusto */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra al botón */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-hero:hover {
  background-color: #019c96; /* Un tono más oscuro en hover */
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

/* Seccion del FOOTER*/
.footer {
  background-color: #01b1ab;
  color: white;
  padding: 20px 0;
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
.footer-image {
  max-width: 70%;
  height: auto;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 0 20px;
}
.footer-col {
  padding: 20px;
}
.footer-col1 i {
  font-size: 40px;
  margin-bottom: 10px;
}
.footer-col2 ul {
  list-style: none;
  padding: 0;
}
.footer-col2 ul li {
  margin: 10px 0;
}
.footer-col2 ul li a {
  color: white;
  text-decoration: none;
}
.footer-col2 ul li a:hover {
  color: #d26f1f;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icon {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}
.social-icon:hover {
  color: #d26f1f;
}
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  margin: -100px auto 30px; /* Ajusta el margin-top negativo para superponer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  z-index: 10; /* Asegura que las tarjetas estén sobre el hero */
}
.card-image {
  flex: 1;
  background-color: #f1f1f1;
}
.card-image img {
  width: 100%;
  height: auto;
  display: block;
}
.card-text {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}
.card-text h2 {
  margin-top: 0;
  color: #333;
}
.card-text p {
  color: #666;
}

/*LEYENDAS Y MITOS*/


.grid1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin: 80px auto;
  max-width: 1000px;
  padding: 0 60px;
  margin-top: -50px;
}
.grid2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin: 80px auto;
  max-width: 1000px;
  padding: 0 60px;
}

.card {
  background-color: #01b1ab;
  width: 160px;
  height: 200px;
  border-radius: 15px;
}



.label {
  background-color: #01b1ab;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin: 10px auto 0;
}